body,
html {
    font-size: 1.15rem;
    line-height: 2rem;
}

@media (max-width: 768px) {

    body,
    html {
        font-size: 1.1rem;
        line-height: 1.75rem;
    }
}

img.nav-icon {
    width: 6rem;
}

.profile .is-col {
    padding: 0.5rem;
}

.profile .is-col img {
    width: 100%;
    max-width: 50vw;
}

tiny {
    font-size: 60%;
}