<div id="top" class="is-navbar-container">
  <div class="is-brand">
    <!--<a href="/" title="home">{{ .Site.Title }}</a>-->
    <a href="/" title="home"><img src="{{ .Site.Params.logo }}" class="nav-icon is-logo" /></a>
  </div>
  <div class="is-navbar">
    <nav>
      <ul>
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <li {{if  $currentPage.IsMenuCurrent "main" . }} class="is-active" {{end}}><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>
    </nav>
  </div>
</div>